  /* [WHAT YOU NEED] */
  div.fullimg {
    /* Optional - fixed on screen */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* Full sized */
    width: 100%;
    height: 100vh;
    /* Dark background */
    background: rgba(0, 0, 0, 0.7);
  }
  div.fullimg img {
    width: 100%;
    height: auto;
  }

  /* [DOES NOT MATTER] */
  html, body {
    padding: 0;
    margin: 0;
  }
